.venv/
.env
__pycache__/
*.pyc
.pytest_cache/
.serena/
alembic.ini
logs/
uv.lock
.playwright-mcp/

# TODO: release branch で解除
# docker-compose.yml
# .gemini/
# .github/
# .hermes/
# .roo/
# docs/
# tasks/
# AGENT.md
# GEMINI.md
# requirement-02.md
# requirement-03.md
# Added by code-review-graph
.code-review-graph/
